@font-face {
    font-family: 'HelveticaNeue LT 55 Roman';
    src: url('HelveticaNeueLT-Roman.woff2') format('woff2'),
        url('HelveticaNeueLT-Roman.woff') format('woff'),
        url('HelveticaNeueLT-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueBold.woff2') format('woff2'),
        url('HelveticaNeueBold.woff') format('woff'),
        url('HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

